mixin form-Search(keyword)
  form(id="form-search")
    .input-group 
      input.form-control(
        type="text" 
        name="keyword" 
        placeholder="Tìm kiếm sản phẩm..."
        value= keyword
        )
      .input-group-append 
        button(
          type="submit"
          class= "btn btn-success"
          ) Tìm kiếm